# 忽略临时文件
*.tmp
__pychache__
# 忽略所有 .pyc 编译文件（.pyc 是 Python 运行后生成的字节码文件）
*.pyc
# 忽略所有 __pycache__ 目录（Python 存放编译文件的缓存目录）
__pycache__/
**/__pychache__
crowd_datasets/pest/
crowd_datasets/SHHA/
output/
log/
runs/
ckpt/
weights/
