# 忽略临时文件
*.tmp
__pychache__
# 忽略所有 .pyc 编译文件（.pyc 是 Python 运行后生成的字节码文件）
*.pyc
# 忽略所有 __pycache__ 目录（Python 存放编译文件的缓存目录）
__pycache__/
**/__pychache__
crowd_datasets/pest/
crowd_datasets/SHHA/
output/
output/
# 忽略的目录及其所有子目录和文件
pre_gd_cnt.txt   # 后处理产生的文件
crowd_datasets/SHHA/test.list 
crowd_datasets/SHHA/train.list
crowd_datasets/SHHA/train_val_test/   # 训练集和验证的图片和注释比例划分文件
crowd_datasets/SHHA/train/  #train的图片和注释
crowd_datasets/SHHA/test/  #test的图片和注释
crowd_datasets/SHHA/test/
crowd_datasets/SHHA/val_real_test/
crowd_datasets/SHHA/train/
pre_result/
runs/
ckpt/
weights/
crowd_datasets\pest\
crowd_datasets\SHHA\